video {
    display: block;
    margin: 0 auto;
    padding-top: 50px;
} 

.show{
    opacity: 1 !important;
}

.step{
    opacity: 0;
    transition: .8s ease-in-out all;
}

h1{
    font-family: 'MontserratAlternate';
    font-style: italic;
    text-align: center;
    font-size: 32px;
}