

.card{
    background-color: aliceblue;
    border-radius: 4px;
    width: 600px;
    height: fit-content;
    display: block;
    font-size: 30px;
    text-align: center;
}


#flip-sign{
    font-size: 35px;
}

#flip-sign:hover{
    opacity: .8;
    color: #B4E33D;
    cursor: pointer;
 }

.btn-circle{
    width: 60px;
    height: 60px;
    padding: 1px 18px;
    border-radius: 60px;
    font-size: 40px;
    text-align:center;
    justify-content: center;
    box-shadow: none;   
}


.space{
    display: inline-block;
    width:50px;
    height:auto;
}
.vspace{
    display: inline-block;
    width:auto;
    height:50px;
}
