<div *ngIf="!addCard">
    <div id="CreateCardOverlay">
        <div id="whiteContainer">
            <h2 style="margin-left: 20px;">Create Term</h2>
            <div class ="qandAInput"></div>
                <mat-card class="card-create">
                    <mat-card-title> Question </mat-card-title>
                    <mat-card-content>
                        <mat-form-field  id="question-field">
                            <mat-label>Question or Term</mat-label>
                            <input matInput placeholder="Question example: What is 1 + 1?" type="text" autocomplete="off">
                          </mat-form-field>
                    </mat-card-content>
                </mat-card>
                <div class="vspace"></div>
                <mat-card class="card-create">
                    <mat-card-title> Answer </mat-card-title>
                    <mat-card-content>
                        <mat-form-field  id="answer-field" color="primary">
                            <mat-label>Answer or Definition</mat-label>
                            <input matInput placeholder="Answer example: It is 2" type="text" autocomplete="off">
                        </mat-form-field>
                    </mat-card-content>              
                </mat-card>
            <div class ="saveandCancelButtons">
                <button id="cancelbtn">Cancel</button>
                <div class="space"></div>
                <button id="savebtn">Save</button>
            </div>
        </div>
    </div>
</div> 
<div class="Library" *ngIf="!addCard">   
    <div class="Header">
        <h2><span id="LibraryLink" (click)="goBackToLibrary()">Library</span> / <span id="categoryName">{{deckCategory}}</span></h2>
    </div>
    <div class="Body">
        <app-card></app-card>
        <div class="cardsDipsplay">
            <h3 id="subTitle">Terms in set: &nbsp; {{deck.length}}</h3>
            <div class="vspace"></div>
            <div class="table-div" *ngFor="let card of deck">
                <table id="cardsTable">
                    <thead>
                        <tr>
                            <th id="term">Term</th>
                            <th id="definition">Definition</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td headers="term card">{{card.question}}</td>
                            <td headers="definition card">{{card.answer}}</td>
                            <td style="border: none;">
                                <table id="dAndETable">
                                    <tr>
                                        <td> <img src="..\..\assets\images\vectores\pencil.svg" class="filter-green" > </td>
                                        <td> <img src="..\..\assets\images\vectores\trashcan.svg" class="filter-green" (click)="deleteCard(3)"> </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="vspace"></div>
        </div>
            <div class="button-section">
                <button (click)="addNewCard()"> Add new card +</button>
            </div>
    </div>
</div>



