.Library{
    margin-left: 30px;
    margin-right: 30px;
}

.Header{
    text-align: left;
}

h2{
    font-family: 'MontserratAlternate';
    font-size: 26px;
}

#LibraryLink:hover{
    color: #B4E33D;
    text-decoration: underline black;
    cursor: pointer;
}

#categoryName{
    text-decoration: underline #B4E33D;
}

#subTitle{
    font-family: 'MontserratAlternateLight';
    font-size: 22px;
    text-align: left;
    margin-left: -55%;
}

.Body{
    display:block; 
    justify-content:center;
    min-height:60vh;
    margin-left: 35%;
    margin-right: 35%;
}

table img{
    object-fit: contain; /*The image keeps its aspect ratio, but is resized to fit within the given dimension*/
    width: 50%;
}

.filter-green:hover{
    filter: invert(81%) sepia(6%) saturate(4909%) hue-rotate(29deg) brightness(115%) contrast(78%);
    object-fit: contain; /*The image keeps its aspect ratio, but is resized to fit within the given dimension*/
    width: 55%;
    cursor: pointer;
}

.space{
    display: inline-block;
    width:50px;
    height:auto;
}

.vspace{
    display: inline-block;
    width:auto;
    height:50px;
}

button{
    width: 170px;
    height: 55px;
    box-shadow: 1px 1px black;
}